.sidebar{
    flex: 1;
    border-right: 0.5px solid rgb(230, 227, 227);
    min-height: 100vh;
    background-color: black;
    

    .top{
        display: flex;
        justify-content: left;
        color:#F9842C;
        padding-top: -5px;
        margin-left: 20px;
        .logo{
            font-size: 20px;
            font-weight: bold;
            color:white;
            margin-left: -4px;
            margin-top: 21px;
        }
    }
  
    .center{
        padding-left: 10px;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            .title{
                font-size: 15px;
                font-weight: bold;
                color:white;
                margin-top: 30px;
                margin-bottom: 5px;
                line-height: 30px;
                margin-left: 15px;
                
                
            }

            li{
                display: flex;
                align-items: center;
                padding: 10px;
                cursor: pointer;

                &:hover{
                    background-color: rgb(11, 2, 62);
                }

                .icon{
                    font-size: 30px;
                    color: #F9842C;
                }

                span{
                    font-size: 18px;
                    font-weight: 600;
                    color: lightgray;
                    margin-left: 10px;
                    margin-top: 10px;
                }

            }
        }
    }
    }

// #color{
//     white,
//     red,
//     blue,
//     right-blue or sky-blue,
//     black,
// }