.course{
    flex: 4;
    padding: 20px;
}
.courseTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.courseAddButton{
    width: 80px;
    border: none;
    padding:5px;
    background-color:darkblue;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}
.courseUpdateContainer{
    display: flex;
    margin-top: 20px;
}
.courseShow{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}
.courseUpdate{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    margin-left: 20px;
}
.courseShowTop{
    display: flex;
    align-items: center;
}
.courseShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.courseShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.courseShowcoursename{
    font-weight: 600;

}
.courseShowcourseTitle{
    font-weight: 300;

}
.courseShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: lightgray;
}
.courseShowBotton{
    margin-top: 10px;
}
.courseShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}
.courseIcon{
    font-size: 16px !important;
}
.courseShowInfoTitle{
    margin-left: 10px;
}
.courseUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}
.courseUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.courseUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.courseUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}
.courseUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;

}
.courseUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.courseUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.courseUpdateUpload{
    display: flex;
    align-items: center;
}
.courseUpdateIcon{
    cursor: pointer;
}
.courseUpdateButton{
    border-radius: 5px;
    border:none;
    padding: 5px;
    cursor: pointer;
    background-color:  rgb(79, 230, 79);
    color: white;
    font-weight: 600;
    border: none;
}